* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif, arial, helvetica;
}
.contener {
  width: 100%;
  height: 100vh;
  background-color: #201f23;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
form {
  width: 600px;
  border: 1px solid #525155;
  padding: 25px;
  border-radius: 7px;
  box-shadow: 0 0 20px -10px;
}
.input-fild {
  width: 100%;
  padding: 10px;
  margin: 7px 0;
  color: #fff;
  outline: none;
  border: 1px solid #525155;
  border-radius: 3px;
  background-color: transparent;
}
form input[type="button"] {
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 3px;
  text-transform: uppercase;
  outline: none;
  border: 1px solid #525155;
  border-radius: 3px;
  background-color: transparent;
  color: #525155;
  margin-top: 20px;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.4s;
}
form input[type="button"]:hover {
  background-color: #fff;
  color: black;
}
.form-group {
  padding: 10px 0;
  position: relative;
}
form p {
  color: #fff;
  display: none;
  margin-top: 5px;
  right: 0px;
  font-size: 13px;
  position: absolute;
}
input[type="checkbox"] {
  margin: 10px 0px;
  color: #fff;
  cursor: pointer;
}
label {
  color: #525155;
  cursor: pointer;
}
